.mainbox {
    background: #3EEBA2;
    padding: 30px;
    border-radius: 15px;
    align-content: center;
    text-align: center;
}

body {
    margin: 20px auto;
    margin-top: 70px;
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainbody li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.mainbody li a {
    text-decoration: none;
    color: #009929;
}

.mainbody li a:hover {
    color: #002800;
}

.mainbody h2::selection {
    background: #5ccb5f;
}