* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #ecf0f1;
}

header, .main, footer {
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
}

header nav {
    background: #3498db;
    overflow: hidden;
    border-radius: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
}

header nav ul li a:hover {
    color: white;
    background: #2980b9;
}

header nav ul li {
    float: left;
}

.main .articles {
    float: left;
    width: 68.5%;
    margin-right: 1.5%;
}

.main .articles article {
    padding: 10px;
    margin: 20px;
    background: white;
    border-radius: 10px;
}

aside {
    width: 30%;
    float: left;
    background: #16a085;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

footer {
    clear: both;
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}