.mainbox {
    background: #3EEBA2;
    padding: 30px;
    border-radius: 15px;
    align-content: center;
    text-align: center;
}

body {
    margin: 20px auto;
    margin-top: 70px;
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block button {
    border-radius: 10px;
    background: #5ccb5f;
    padding: 10px;
}